* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center the content vertically */
}

.content {
    width: 500px;
    height: 250px; /* Adjusted to better fit the form elements */
    background-color: aqua;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add some shadow */
}